* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: Helvetica-bold;
  src: url(./assets/fonts/Helvetica\ Neue\ Bold.ttf);
}

@font-face {
  font-family: Helvetica-light;
  src: url(./assets/fonts/Helvetica\ Neue\ Light.ttf);
}
@font-face {
  font-family: Helvetica-medium;
  src: url(./assets/fonts/Helvetica\ Neue\ Medium.ttf);
}
@font-face {
  font-family: Helvetica-regular;
  src: url(./assets/fonts/Kano\ regular\ Regular.ttf);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 96%;
  margin: auto;
}

.logo img {
  width: 60px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar {
  display: flex;
  gap: 50px;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-family: Helvetica-medium;
}

.navbar button {
  background-color: #0076ff;
  border: none;
  height: 40px;
  border-radius: 10px;
  width: 150px;
  color: white;
  font-family: Helvetica-medium;
}

/* ***************************** main-div************************************ */

/************************** article1 ********************************* */

.section {
  display: flex;
}

.banner-1 {
  background-image: url(./assets/home_banner.png);
  width: 100%;
  height: 500px;
  background-size: cover;
  position: relative;
  padding-top: 100px;
}
.navbar li {
  list-style: none;
}

.banner-1 p {
  color: white;
  font-size: 24px;
  font-family: Helvetica-medium;

  padding-left: 50px;
}

.banner-1 h1 {
  color: white;
  position: absolute;
  width: 757px;
  font-size: 67px;
  font-family: Helvetica-bold;
  padding-left: 50px;
}

.info {
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.banner-1 h5 {
  color: white;

  font-size: 18px;
  font-family: Helvetica-bold;
}

.banner-1 h6 {
  color: white;
  font-size: 18px;
  font-family: Helvetica-bold;
}

.Child-section-1 {
  width: 50%;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 50px;
}
.Child-section-1 h5 {
  /* margin-top: 50px;
  margin-left: 50px; */
  font-size: 18px;
  color: #0076ff;
  font-size: 18px;
  font-family: Helvetica-medium;
}

.Child-section-1 h1 {
  width: 600px;
  margin-top: 5px;
  font-size: 40px;
  font-family: Helvetica-bold;
}

.Child-section-1 p {
  width: 75%;

  font-family: Helvetica-regular;
  margin-top: 12px;
  font-size: 18px;
  width: 75%;
}

.Child-section-1 h6 {
  width: 75%;

  font-family: Helvetica-regular;
  margin-top: 12px;
  font-size: 18px;

  color: black;
}

.perant-artical {
  display: flex;
  background-color: #0076ff;
  width: 100%;
}
.Child-section-2 {
  width: 50%;
  padding-top: 85px;
}

.box1 {
  border-radius: 5px;
  width: 350px;
  padding-top: 80px;
  padding-left: 60px;
  height: 380px;
  background-color: rgb(250, 250, 252);
  margin-left: 100px;
  box-shadow: 1px 1px 3px gray;
  margin-top: 80px;
  border-radius: 10px;
}

.box1 ul {
  list-style: none;
}

.box1 ul li::before {
  content: "\2022";
  color: #0076ff;

  font-weight: bold;
  font-size: 25px;

  display: inline-block;

  width: 1em;

  margin-left: -1em;
}

.box1 h1 {
  margin-left: -16px;

  width: 350px;
  font-family: Helvetica-bold;
  margin-top: -50px;
}

.box1 li {
  font-family: Helvetica-regular;
  font-size: 20px;
  margin-top: 5px;
}

.box1 ul {
  margin-top: 15px;
}
.section {
  width: 100%;
  display: flex;
}
.Child-section-2 button {
  background-color: #0076ff;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 200px;
  font-family: Helvetica-bold;
  color: white;
  height: 50px;
}
.section-2 {
  background-image: url(./assets/online-communication-bg.png);
  width: 100%;
  height: 500px;
  margin-top: 50px;
  background-size: cover;
  display: flex;
  justify-content: right;
}

.section-box {
  width: 50%;
  padding-right: 100px;
}

.section-box p {
  color: white;
  font-family: Helvetica-regular;
  font-size: 18px;
  margin-top: 25px;
  padding-left: 100px;
}
.section-box h1 {
  width: 650px;
  color: white;
  font-size: 45px;
  font-family: Helvetica-bold;
  margin-top: 50px;
  padding-left: 100px;
}
footer {
  background-color: #0076ff;
  width: 100%;
  height: 250px;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 200px;
  height: 100px;
}

footer a {
  text-decoration: none;
  font-size: 25px;
  margin-top: 20px;
  color: white;
  font-family: Helvetica-regular;
}
